$base-color: #090030;
$card-color: #0C3C78;
$btn-color: wheat;
$btn-hover: #FF5200;
$counter-color: #04879C;
$btn-loose: #DC0000;
$btn-win: #367E18;



body{

    background-color: $base-color;

    h1{
      
        color: white;
        border-bottom: 3px solid $card-color;
    }



    .card{
       background-color: $card-color;

        .card-header{
            h4{
                font-size: 1.5rem;
                font-weight: bold;
            }
           
        }
        .counter{
            width: 60%;
            height: 150px;
            margin: 0 auto;
            position: relative;
            background-color: $counter-color;
            color: white;
            border-radius: 0.5rem;
          
            
       
            h3{
              font-size: 7rem;
              position: absolute;
              top:0;
              left:0;
              bottom: 0;
              right: 0;
            }
          }
    
          .score-btn{
            font-size: 1.5rem;
            background-color: $btn-color;
            color: black;
            width: 85px;
            border-radius: 0.5rem;
            border: 1px solid black;
           
          }

          .score-btn:hover{
           
            background-color: $btn-hover;
            color: white;
          
          }

          p{
            font-size: 1.5rem;
          }
    }

    .main-btn{
        font-size: 1.2rem;
            background-color: $btn-color;
            color: black;
            // width: 150px;
            border-radius: 0.5rem;
            border: none;
            font-weight: bold;

    }

    .main-btn:hover{
        background-color: $btn-hover;
        color: white;
    }

    // .record{
    //   width: 200px;
    //   height: 50px;
    //   margin: 0 auto;
    //   background-color: $btn-color;
    //   color: black;
      
    // }

}






